<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>About</title>
	</head>
	<body>
		{{> header}}
		<p><a href="/">Home</a></p>
		<p><a href="/about">About</a></p>
		<p>Some content here</p>
		{{> footer}}
	</body>
</html>